<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="health.css">
</head>

<body>

    <!-- Image and text -->
    <nav class="navbar navbar-dark navbar-expand-md py-0 fixed-top" id="mainnavbar">
        <a href="#" class="navbar-brand">
            <img class="icon" src="https://img.icons8.com/wired/64/000000/heart-health.png" />
            Healthy Habit
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navelements">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navelements">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="Signup.html" class="btn btn2 btn-outline-light ">SignUp/Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container quote-cont">
        <p class="quote">"You can’t control what goes on outside, but you CAN control what goes on inside."</p>
        <span class="lead">~Joseph Pilates</span>
    </div>

    <div class="container info">
        <div class="row">
            Living in this fast paced world, we have started to take our health for granted. We do not have
            time to
            monitor our food intake on daily basis.
        </div>
        <div class="row">
            These eating habits have some adverse effects such as obesity, high blood pressure and many more which don't
            pose good in the long term.
        </div>
        <div class="row">
            Any Solutions?
        </div>
        <div class="row">
            Either visit a nutritionist regularly and let your wallet feel lighter!
            Or you can use and have some "Healthy Habits".
        </div>
        <div class="row">
            Yes! It helps you to monitor your diet on a daily basis as well as suggests you what to include in your diet
            to
            maintain a healthy eating habit! Go Ahead and lead yourself to a healthy lifestyle!
        </div>


    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <a href="Signup.html" class="btn btn-outline-light signup">Start Your Journey Today</a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <script src="health.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainnavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</body>

</html>
